# Dataset exploration

In [2]:
import pandas as pd

## Load data and show sample images

In [4]:
dataset = pd.read_csv('../../datasets/card-colors/dataset.csv')
dataset.head()

                            file     label
0  image_2018-04-15T14_44_52.jpg    spades
1  image_2018-04-15T14_45_39.jpg    spades
2  image_2018-04-15T14_47_32.jpg     clubs
3  image_2018-04-15T14_56_33.jpg  diamonds
4  image_2018-04-15T14_57_08.jpg  diamonds

In [ ]:
img =